

<<<<<Project: ehr_panel>>>>>

--------------------------------------------------------------
Parent:

Spring Boot Starter Parent
Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-parent
Version: 3.2.3

--------------------------------------------------------------

Dependencies:

Spring Boot Starter Data JPA

Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-data-jpa
Version: Inherited from parent
Spring Boot Starter Web
=============================================================

Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-web
Version: Inherited from parent
Spring Boot Starter Validation
============================================================

Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-validation
Version: Inherited from parent
Spring Boot DevTools
===========================================================

Group ID: org.springframework.boot
Artifact ID: spring-boot-devtools
Scope: Runtime
Optional: Yes
MySQL Connector
==========================================================

Group ID: com.mysql
Artifact ID: mysql-connector-j
Scope: Runtime
Spring Boot Starter Test
==========================================================

Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-test
Scope: Test
Hibernate Core
=========================================================

Group ID: org.hibernate
Artifact ID: hibernate-core
Version: 6.4.2.Final
Spring Boot Starter Security
========================================================

Group ID: org.springframework.boot
Artifact ID: spring-boot-starter-security
Version: Inherited from parent
Byte Buddy
======================================================

Group ID: net.bytebuddy
Artifact ID: byte-buddy
Version: 1.14.12
========================================================

-------------------------------------------------------------Note-----------------------------------------------------------------------------------

This file is for reference/documentation only.
All actual dependency management is handled by Maven in the pom.xml files.
