

----------------------------------------------------------EHR-Panel Requirements-------------------------------------------------------------------

Project Name: EHR-Panel
Java Version: 17
Spring Boot Version: 3.2.3

Dependencies (as declared in pom.xml):
1. io.springfox:springfox-swagger-ui:3.0.0
2. io.springfox:springfox-swagger2:3.0.0
3. org.springframework.boot:spring-boot-starter-data-jpa
4. org.springframework.boot:spring-boot-starter-web
5. org.springframework.boot:spring-boot-starter-validation
6. org.springframework.boot:spring-boot-devtools  (runtime scope)
7. com.mysql:mysql-connector-j                   (runtime scope)
8. org.springframework.boot:spring-boot-starter-test (test scope)
9. org.hibernate:hibernate-core:6.4.2.Final
10. org.springframework.boot:spring-boot-starter-security
11. net.bytebuddy:byte-buddy:1.14.12





------------------------------------------------------EHR-Panel-Mongo Requirements-----------------------------------------------------------------

Project Name: EHR-Panel-Mongo
Java Version: 17
Spring Boot Version: 3.2.3

Dependencies (as declared in pom.xml):
1. io.springfox:springfox-swagger-ui:3.0.0
2. io.springfox:springfox-swagger2:3.0.0
3. org.springframework.boot:spring-boot-starter-web
4. org.springframework.boot:spring-boot-devtools  (runtime scope)
5. org.springframework.boot:spring-boot-starter-data-mongodb
6. org.springframework.boot:spring-boot-starter-test (test scope)
7. org.jetbrains:annotations:24.1.0
8. org.springframework.boot:spring-boot-starter-security





-----------------------------------------------------Build & Run (General Notes)-------------------------------------------------------------------

- Make sure you have Java 17 installed.
- Maven will automatically handle these dependencies based on each project's pom.xml.
- To build either project:
    mvn clean install
- To run either project (via Spring Boot plugin):
    mvn spring-boot:run




-------------------------------------------------------------Note-----------------------------------------------------------------------------------

This file is for reference/documentation only.
All actual dependency management is handled by Maven in the pom.xml files.
